.card
{
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    margin: 1.5rem;
    width: 133px;
    box-shadow: 4px 4px 5px #dbd7e0;
    position: relative;
    transition: 0.3s;
}
  
.card > .img-container
{
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.card > .img-container > img
{
    width: 100%
}
  
.card:hover
{
    transform: scale(1.1);
    position:relative;
    z-index: 50;
    box-shadow: 8px 8px 10px #dbd7e0;
    cursor: pointer;
}